<%- include ('partials/header') -%>



<div class="container">

    <h1>Home</h1>
    <p><%=StartingContent %></p>

    
    <form action="">
        <% for(var i =0;i< posts.length;i++){%>

            <h3><%= posts[i].title %></h3>
            <p> <%= posts[i].content.substring(0,50)+" ..." %> <a href="/posts/<%=posts[i].title_compressed%>">Read more</a></p>
            
    
        <% }%>
    </form>


</div>



<%- include("partials/footer") -%>